@keyframes toBottomFromTop {
    49% {
      transform: translateY(-50%);
    }
    50% {
      opacity: 0;
      transform: translateY(0%);
    }
    51% {
      opacity: 1;
    }
  }
  
  @keyframes tada {
    20% {
      transform: scale(0.9) rotate(-3deg);
    }
    30%,
    50%,
    70%,
    90% {
      transform: scale(1.1) rotate(3deg);
    }
    40%,
    60%,
    80% {
      transform: scale(1.1) rotate(-3deg);
    }
    100% {
      transform: scale(1) rotate(0);
    }
  }
  @keyframes smallToBig {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }